run = "npm start"
entrypoint = "server/server.js"
modules = ["nodejs-18", "web"]

[nix]
channel = "stable-25_05"

[deployment]
run = ["npm", "start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[[ports]]
localPort = 3000
externalPort = 80
